version: '3'

services:
  backend:
    build:
      context: ./pdfchat
    container_name: chatui_backend
    ports:
      - 8502:8502

  frontend:
    build:
      context: ./chatbot_ui
    container_name: chatui_frontend
    ports:
      - 3000:3000